/*
    #2097d3 	(57,172,231) destaque
	#0784b5 	(7,132,181) semidestaque
	#414c50 	(65,76,80) claro
	#2d383c 	(45,56,60) meio termo
	#192428 	(25,36,40) escuro
    #10171a bg
*/
body{
    font-family: 'Courier New', Courier, monospace;   
    padding:0;
    margin:0;

}
.header .titulo{
    margin-left:5%;
}
.header .navbar{
    list-style:none;
    display:flex;
    justify-content: space-between;
    justify-items: center;
    width:40%;
    margin-top: 2%;
    
}
li{
    margin-left:2vw;
}
.destaque{
    color:#7543c7;
}

.header{
    background-color:#000000;
    width:100%;
    color:#b6c8da;
    border: 1px solid #192428;
    border-bottom: 3px solid #414c50;
    margin:0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width:100%;
    border-bottom: 2px solid #370981;
}
.social{
    justify-content: center;
    display:flex;
}

.container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width:80%;

}

.box{
    margin-top:50px;
    display:flex;
    flex-direction: column;
}
.box img{
    width:250px;
}
.header ul #aqui{
    color:rgb(255, 255, 255);
}

.banner{
    background-image: url('imgs/bg-jelly-fish-para-home.png');
    height:500px;
    color:white;
    display:flex;
}
.banner .container{
    justify-content: center;
    font-size:36px;

}
.banner .container p span{
    font-weight: bold;
}
.social .container .boxes .box img{
    width:150px;
    height:150px;
}
.social .container .boxes{
    display:flex;
}

.box p{
    width:50%;
}
.footer{
    background-color: black;
    color:#a177e4;
    height:5vw;
    font-size: 15px;
    margin-top: 5%;
}
.footer .container{
    justify-content: center;
}
a{
    text-decoration: none;
    color:#b6c8da;
}

.container .card{
    color:#000000;
    background-color: white;
    width:25vw;
    height:25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    border-radius: 6%;

}
.card h1{
    font-size: 30px;
}
.card h4{
    font-size:16px;
}
.card input{
    border: none;
    height: auto;
    border-bottom: 1px solid #370981;
    
}
.card button{
    width:40%;
    height:4vh;
    border: none;
    border-radius: 15px;
    background-color: #7543c7;
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}
